//  --------------------------RESPONSIVE ENV--------------------------------------
$breakpoint-small: 480px;
$breakpoint-medium: 840px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1200px;

@mixin respond-to($breakpoint) {
  @if $breakpoint==small {
    @media (max-width: $breakpoint-small) {
      @content;
    }
  } @else if $breakpoint==medium {
    @media (max-width: $breakpoint-medium) {
      @content;
    }
  } @else if $breakpoint==large {
    @media (max-width: $breakpoint-large) {
      @content;
    }
  }
}

.footer {
  width: 100%;
  padding-top: 100px;
  background-color: #121315;
  z-index: +100;
  pointer-events: fill;

  @include respond-to(small) {
    width: 100vw;
    padding-top: 50px;
  }

  h1 {
    font-size: 125px;
    text-align: center;

    @include respond-to(small) {
      font-size: 36px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @include respond-to(medium) {
      font-size: 9vw;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .footerline {
    width: 70%;
    background-color: y;
  }

  .footercont {
    width: 80%;
    margin-left: 10%;
    background-color: #202127;
    padding: 40px 20px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;

    @include respond-to(small) {
      width: 100%;
      margin-left: 10px;
      background-color: transparent;
    }
    @include respond-to(medium) {
      width: 90%;
      margin-left: 10px;
      margin-left: 5%;
    }

    .footerContainer {
      display: flex;
      justify-content: space-between;
      align-items: start;
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;
      @include respond-to(medium) {
        padding-top: 50px;
      }
    }

    .footerSection {
      flex: 1;
      margin: 10px;
      text-align: center;
      position: relative;
      height: 200px;
      @include respond-to(small) {
        width: 100%;
        margin: 40px 0 !important;
      }

      h3 {
        font-size: 36px;
        color: #ffffff;
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
        text-transform: uppercase;
        margin-bottom: 20px;
        transform: scale(-1, -1) !important;
        position: absolute;
        text-wrap: nowrap;
        left: -10px;
        // top: 10%;
        height: 100%;
        @include respond-to(small) {
          font-size: 28px;
        }
      }

      ul {
        height: 100%;
        margin: auto;

        list-style: none;
        font-size: 20px;
        margin-left: 50px;

        display: flex;
        flex-direction: column;
        justify-content: center; /* Centers items vertically */

        li {
          margin-bottom: 12px;
          text-align: left;
          color: white;

          @include respond-to(small) {
            margin-bottom: 5px;
          }
        }
      }

      &.explore,
      &.services,
      &.follow,
      &.locations {
        flex: 1;
        margin: 0 20px;
      }

      &.explore {
        @include respond-to(small) {
          float: left !important;
          width: 40%;
        }
      }

      &.follow {
        @include respond-to(small) {
          width: 100% !important;

          height: 170px;
          display: block;
        }
      }

      &.locations {
        display: block;
      }
    }

    .locations {
      flex: 1;

      margin: 10px;
      text-align: center;
      position: relative;
      text-align: left;
      @include respond-to(small) {
        flex: 0 0 100%;
      }
      @include respond-to(medium) {
        margin-top: 50px;
        margin-bottom: 50px;
      }
      h3 {
        font-size: 36px;
        color: #ffffff;
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
        text-transform: uppercase;
        margin-bottom: 20px;
        transform: scale(-1, -1) !important;
        position: absolute;
        text-wrap: nowrap;
        left: -10px;
        // top: 10%;

        height: 190px;
      }

      @include respond-to(small) {
        width: 90%;
        height: auto;
        margin: 20px;
        margin-left: 0;
        text-align: center;
        position: relative;
        h3 {
          font-size: 26px;
        }
      }

      ul {
        font-size: 16px;

        li {
          margin-bottom: 12px;
          display: flex;
          align-items: center;

          &:first-of-type {
            display: block;
            margin-bottom: 12px;
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;
        font-size: 18px;
        margin-left: 50px;
        margin-top: 10%;

        li {
          margin-bottom: 5px;
          text-align: left;
        }
      }
    }
  }
}

.footerinfo {
  padding-left: 70px;
  margin-bottom: 50px;

  h5 {
    font-size: 24px;
  }

  div {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 36px;
      font-family: Stara;
      color: #f8ef6e;
    }
  }
}
