
// Breakpoints
$breakpoint-mobile: 576px; // Small devices (phones)
$breakpoint-tablet: 768px; // Medium devices (tablets)

// Mixin for responsive media queries
@mixin respond-to($device) {
  @if $device==mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }

  @else if $device==tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  }
}

// carousel 

.carouselWrapper {
  position: relative;
  width: 100%;
  // max-width: 600px;
  margin: auto;
  
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 10% 10%;
    cursor: pointer;
     @include respond-to(mobile) { 
    height: 100%;
    width: 100%;
      object-fit: contain;
    }}
    video {
      width: 100%;
      height: 600px;
      border-radius: 10px;
      cursor: pointer;
       @include respond-to(mobile) { 
      height: 100%;
      width: 100%;
        object-fit: contain;
      }
  }
}

.leftcarrow,
.rightcarrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  // padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;  width: 50px;
  height: 50px;
 @include respond-to(mobile) { 
top: 90%;
}
  &:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #AEF4F4;
  }
}

.leftcarrow {
  left: 10px;
   @include respond-to(mobile) { 
  left: 35%;
  }

 
}

.rightcarrow {
  right: 10px; 
   @include respond-to(mobile) { 
  right: 35%;
  }
    
}

// Fullscreen overlay
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.fullscreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;


  .fullscreenImage {
    width: auto;
  //  max-width: 90%;
  //  min-width: 40%;
   max-height: 80%;
   height: 100%;
    border-radius: 10px;
    object-fit: fill;
     @include respond-to(mobile) { 
    height: 100%;
    width: 100%;
    object-fit: contain;
    }
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    color: black;
    border: none;
  //   padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px; 
   
margin: auto;
    &:hover {
      background: red;
      color: white;
    }
  }
}



.carousel{
  width: 100%;

  position: relative;
  .leftcarrow{
    position: absolute;
left: 1%;
width: 50px;
top: 50%; background-color: transparent; border: none;


  }
  .rightcarrow{
    position: absolute;
right: 1%;
width: 50px;
top: 50%; border: none;  


rect {
    fill: #787676; // Default color
    transition: fill 0.3s ease;
  }
  
  :hover rect {
    fill: #AEF4F4; // Change this to your desired hover color
  }
  
   path {
    fill: white; // Keep the icon color constant
    
  }
  }
}
